.count-clicker__widget,
.count-clicker__widget-total {
    padding: 10px 15px;
}

.count-clicker__price {
    font-size: 0.85em;
    font-weight: 200;
}

.count-clicker__description {
    margin-bottom: 10px;
}

.count-clicker__controls {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.count-clicker__sum-price {
    margin-top: 15px;
}