.widget,
.widget-total {
    padding: 10px 15px;
}

.price {
    font-size: 0.85em;
    font-weight: 200;
}

.description {
    margin-bottom: 10px;
}

.controls {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.count {
    font-size: 22px;
}

.sum-price {
    margin-top: 15px;
}